@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bodyColor: #E4E9F7;
  --sideBarColor: #FFF;
  --primaryColor: #695CFE;
  --primaryColorLight: #F6F5FF;
  --toggleColor: #DDD;
  --textColor: #707070;
}